.board{
    display: grid;
    justify-content: center;
    background-color: transparent;  
    grid-template-columns: repeat(4, var(--card-size)); /*tylko 4 karty mogą byc w jednym rzędzie*/
    gap: var(--gap); /*przestrzeń pomiędzy elementami*/
    padding: 10px;
    padding-bottom: 20px;

}

h2 {
    grid-column: 1 / -1;   /* od pierwszej do ostatniej kolumny */
    margin-bottom: 1rem;   /* odstęp od kart (opcjonalnie) */
    text-align: left;      /* lub center, jak wolisz */
  }

  .board.easy {
    grid-template-columns: repeat(4, var(--card-size));
  }
  .board.medium {
    grid-template-columns: repeat(4, var(--card-size));
  }
  .board.hard {
    grid-template-columns: repeat(6, var(--card-size));
  }

  .game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 24px;
    align-items: start;
  }