.board{
    display: grid;
    justify-content: center;
    background-color: red;  
    grid-template-columns: repeat(4, var(--card-size)); /*tylko 4 karty mogą byc w jednym rzędzie*/
    gap: var(--gap); /*przestrzeń pomiędzy elementami*/

}

h2 {
    grid-column: 1 / -1;   /* od pierwszej do ostatniej kolumny */
    margin-bottom: 1rem;   /* odstęp od kart (opcjonalnie) */
    text-align: left;      /* lub center, jak wolisz */
  }