.card{
    width: var(--card-size);
    height: var(--card-size);
    cursor: pointer;
}

.card-inner {
    position: relative; /* ustawiamy position relative, aby position absolute w 'dziecku', był zależny od wielkości tego elementu */
    width: 100%; /* ustawiamy żeby był taki sam wielkościowo jak element nadrzędny */
    height: 100%;
    transform-style: preserve-3d; /* iformuje przeglądarke, ze element ma być zachownay w przestrzeni 3D aby dało się go obrócić  */
    transition: transofrm var(--card-flip-duration); /*czas trwania obrotu*/
}

/* Gdy element .card ma klasę flipped, jego wewnętrzny element .card-inner zostaje obrócony o 180° wokół osi Y, co powoduje wizualne odwrócenie karty. */
.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute; /* pozycja nie jest zalena od innych elementów wewnątzr rodzica */
    width: 100%; /* ustawiamy żeby był taki sam wielkościowo jak element nadrzędny */
    height: 100%;
    backface-visibility: hidden; /* aby rewers nie był widoczny i się nie nadpisywał */

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: var(--radius);
    box-shadow: var(--shadow);
}

.card-front {
    background-color: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
}

.card-back {
    transform: rotateY(180deg); /* początkowo rewers ustawiamy na 180 stopni */
    border: 2px solid black;
    font-size: 48px;
}

.card-front img, .card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* obrazek wypełni całą kartę */
    border-radius: var(--radius);
}