#root {
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-top: 10px;
}

.app{
  display: grid;
  gap: var(--gap);
  background: white;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1);
}

.controls{
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  padding: 8px 16px;
  background-color: var(--primary);
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  color: var(--bg);
  font-size: 14px;
  box-shadow: var(--box-shadow);
}